$color-azul: rgb(7, 38, 105);
$tamaño-tituloh1: 120px;
$color-primario: rgb(225, 234, 238);
$color-secundario: rgb(121, 136, 143);
$fondo-nav: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(9,9,121,1) 66%);
$fondo-foot: linear-gradient(270deg, rgba(2,0,36,1) 10%, rgba(9,9,121,1) 66%);